<!DOCTYPE html>
<html>
  <head>
    <title>Success</title>
  </head>

  <body>
    <p>
      Success! You may now close this window. A postMessage has also been
      published to either window.opener or window.parent.
    </p>

    <script>
      var targetWindow, transaction;

      if (window.opener != void 0) {
        targetWindow = window.opener;
      } else {
        targetWindow = window.parent;
      }

      transaction = JSON.parse('{{ tx_json|safe }}');

      targetWindow.postMessage(transaction, "*");
    </script>
  </body>
</html>
